# IDEA Code Style
.idea/*
!.idea/copyright/
!.idea/copyright/*
!.idea/codeStyles/
!.idea/codeStyles/*

# Log files
*.log

# Dependencies
node_modules
vendor

# Editor files
/.fleet
/.nova
/.vscode
/.zed

.cache.json
.env
